<div class="container">
  <div class="form-group">
    <label for="username">User Name</label>
    <input
      type="text"
      name="username"
      [(ngModel)]="username"
      id="username"
      class="form-control"
    />
  </div>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      [(ngModel)]="password"
      class="form-control"
    />
  </div>
  <br />
  <!-- <button class="btn btn-primary" [disabled]="submitEnabled" (click)="onSubmit()">Submit</button> -->
  <button
    class="btn btn-primary"
    [disabled]="username === '' || password === ''"
    (click)="onSubmit()"
  >
    Submit
  </button>
  <div class="container">
    <h2
      [ngStyle]="{ backgroundColor: getColor() }"
      [ngClass]="{ online: serverStatus === 'online' }"
    >
      {{ serverStatus }}
    </h2>
  </div>
  <div class="container" *ngIf="isFormFilled; else noServerMsg">
    <h1>{{ formdetails }}</h1>
    <h2>{{ username }}</h2>
    <h2>{{ password }}</h2>
  </div>
  <div class="container">
    <ng-template #noServerMsg>
      <p>No Server is available</p>
    </ng-template>
  </div>

  <app-users *ngFor="let user of users"></app-users>
</div>
