<form>
  <div class="col-xs-12">
    <label>Email address</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="email"
      [ngModelOptions]="{ standalone: true }"
    />
    <label>Full name</label>
    <input type="text" class="form-control" #fullName />
    <label>Password</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="password"
      [ngModelOptions]="{ standalone: true }"
    />
    <button (click)="addUser(fullName)" class="btn btn-primary">Add</button>
  </div>
</form>
